# History files
User's Guide/.Rhistory
User's Guide/.Rapp.history

# Session Data files
User's Guide/.RData
User's Guide/.RDataTmp

# User-specific files
User's Guide/.Ruserdata

# Example code in package build process
User's Guide/*-Ex.R

# Output files from R CMD build
User's Guide//*.tar.gz

# Output files from R CMD check
User's Guide//*.Rcheck/

# RStudio files
User's Guide/.Rproj.user/

# produced vignettes
User's Guide/vignettes/*.html
User's Guide/vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
User's Guide/.httr-oauth

# knitr and R markdown default cache directories
User's Guide/*_cache/
User's Guide//cache/

# Temporary files created by R markdown
User's Guide/*.utf8.md
User's Guide/*.knit.md

# R Environment Variables
User's Guide/.Renviron

# pkgdown site
User's Guide/docs/

# translation temp files
User's Guide/po/*~

# RStudio Connect folder
User's Guide/rsconnect/

.Rproj.user
/.vs
