p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Sidebar formating --------------------------------------------*/

div.sidebar {
  border-left: 7px solid #ccc;
  margin: 1em 0;
  padding-left: 1em;
}

/* .book .book-body .page-wrapper .page-inner section.normal is needed
   to override the styles produced by gitbook, which are ridiculously
   overspecified. Goal of the selectors is to ensure internal "margins"
   controlled only by padding of container */

.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :first-child {
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :last-child {
  margin-bottom: 0;
}


.citation-note {
  background-color: #f8f8f8; /* Light grey background */
  border: 1px solid #e0e0e0; /* Subtle border */
  padding: 10px; /* Add some spacing inside the block */
  border-radius: 5px; /* Optional: Rounded corners */
  margin: 10px 0; /* Space around the block */
  font-family: Arial, sans-serif; /* Optional: Set a clean font */
  font-size: 0.95em; /* Slightly smaller text */
}

.citation-note .current-date {
  font-size: 1.0em; /* Slightly larger font */
  font-style: italic; /* Italicized text */
  color: #555; /* Medium grey for emphasis */
}

.mjx-math {
  font-size: 90%; /* Adjust size for inline math */
}

.MathJax_Display {
  font-size: 90%; /* Adjust size for display math */
}

/* Style for level 1 bullets (no bullets, indented) */
ul.hidden-level-1 {
  list-style-type: none;
  margin-left: 0; /* Adjust as needed */
  padding-left: 0; /* Adjust as needed */
}

/* Style for level 2 bullets (no bullets, further indented) */
ul.hidden-level-2 {
  list-style-type: none;
  margin-left: 20px; /* Adjust for the level of indentation */
  padding-left: 0; /* Adjust as needed */
}

img {
  image-rendering: optimizeQuality;
}
